.flat-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  .flat-card {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .flat-card-upper {
      background-color: $light-gray;
      padding: 20px;
      .flat-card-numbers {
        p {
          margin-bottom: 0;
          i {
          margin-right: 10px;
          }
        }
      }
    }
    .flat-card-link {
      margin: 15px;
      margin-left: 0;
      padding-left: 20px;
    }
  }
}
